/EjercicioJPA/nbproject/private/
/EjercicioJPA/build/
/EjercicioJPA/dist/
/EjercicioJPA2/nbproject/private/
/EjercicioJPA2/EjercicioJPA2-war/nbproject/private/
/EjercicioJPA2/EjercicioJPA2-ejb/nbproject/private/